In [2]:
# Q1.How do you comment code in Python? What are the different types of comments?

In [1]:
#1. single line comment
print("pws skills")

pws skills

In [9]:
#2. multi line comment

In [2]:
# Python program to demonstrate
# multiline comments
print("Multiline comments")

Multiline comments

In [4]:
#3.Docstring comment
def multiply(a, b):
    """Multiplies the value of a and b"""
    return a*b
 
print(multiply.__doc__)

Multiplies the value of a and b

In [ ]:
#Q2. What are variables in Python? How do you declare and assign values to variables?

In [11]:
# Assigning integer values to variables
age = 21
height = 170
print(type(age))
print(type(height))

<class 'int'>
<class 'int'>

In [12]:
# Assigning a boolean value to a variable
is_student = True
print(type(is_student))

<class 'bool'>

In [13]:
# Assigning string values to variables
name = "Sejal"
city = "Mumbai"
print(type(name))
print(type(city))

<class 'str'>
<class 'str'>

In [14]:
# Assigning a list to a variable
fruits = ["apple", "banana", "grapes"]

print(type(fruits))

<class 'list'>

In [15]:
# Assigning float values to variables
x= 56.654
print(type(x))

<class 'float'>

In [ ]:
#Q3. How do you convert one data type to another in Python?

In [17]:
float_no = 3.14
integer_no = int(float_no)
print(integer_no)

3

In [18]:
integer_no = 42
float_no = float(integer_no)
print(float_no)

42.0

In [21]:
complex_no = 42j+2
str_no = str(complex_no)
print(str_no)

(2+42j)

In [22]:
num = 10
is_positive = bool(num)
print(is_positive)

True

In [ ]:
#Q4. How do you write and execute a Python script from the command line?

In [ ]:
""" Microsoft Windows [Version 10.0.22621.1992]
(c) Microsoft Corporation. All rights reserved.

C:\Users\golan>python
Python 3.9.4 (tags/v3.9.4:1f2e308, Apr  6 2021, 13:40:21) [MSC v.1928 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
>>> print("pwskills assignment 2")
pwskills assignment 2
>>> """

In [ ]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [23]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

In [ ]:
#Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
""""Converting real numbers to complex number An complex number is represented by “ x + yi “.
Python converts the real numbers x and y into complex using the function complex(x,y)."""

In [24]:
a= 7 + 5j

In [25]:
print(type(a))

<class 'complex'>

In [ ]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [29]:
age=25
print(age)
print(type(age))

25
<class 'int'>

In [ ]:
#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [30]:
price=9.99
print(type(price))

<class 'float'>

In [ ]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [31]:
name="sejal golande" 
print(name)

sejal golande

In [32]:
name

'sejal golande'

In [33]:
#Q10. Given the string "Hello, World!", extract the substring "World".

In [41]:
a="Hello,World!"

In [42]:
a

'Hello,World!'

In [45]:
a[6:12]

'World!'

In [ ]:
#Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student= True

In [46]:
is_student

True

In [47]:
is_student=False

In [ ]:
is_student

False