In [2]:
# Q1. Create one variable containing following type of data:

In [3]:
a = "sejal"

In [4]:
type(a)

str

In [7]:
b = ["white", "black","blue"]

In [8]:
type(b)

list

In [9]:
c= 50.384566767676

In [10]:
type(c)

float

In [11]:
d= ("white", "black","blue")

In [12]:
type(d)

tuple

In [13]:
#Q2. Given are some following variables containing data:
What will be the data type of the above given variable.

In [15]:
var1 = ''

In [16]:
type(var1)

str

In [18]:
var2 = '[ DS , ML , Python]'

In [19]:
type(var2)

str

In [21]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [22]:
type(var3)

list

In [23]:
var4 = 1.

In [24]:
type(var4)

float

In [ ]:
#Q3. Explain the use of the following operators using an example:

In [1]:
45/21

2.142857142857143

In [2]:
339/9

37.666666666666664

In [3]:
2/45

0.044444444444444446

In [5]:
34%34

0

In [8]:
2%23

2

In [9]:
12%345

12

In [10]:
12//3

4

In [11]:
345//5

69

In [12]:
67//9

7

In [13]:
23**2

529

In [14]:
12**5

248832

In [15]:
2**6

64

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [12]:
my_list = [10, 'Hello', 9.14, True, [1, 2, 3], {'name': 'Kevin', 'age': 25}, (4, 5, 6), None, False, 12**4]
for element in my_list:
    print(element, type(element))

10 <class 'int'>
Hello <class 'str'>
9.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'Kevin', 'age': 25} <class 'dict'>
(4, 5, 6) <class 'tuple'>
None <class 'NoneType'>
False <class 'bool'>
20736 <class 'int'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [20]:
A= 45
B= 5
count = 0

while A % B == 0:
    A /= B
    count += 1

print(f"The number {A} can be divided by {B} a total of {count} times.")

The number 9.0 can be divided by 5 a total of 1 times.

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
elements= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for elem in elements:
    if elem % 3 == 0:
        print("elem is divisible by 3")
    else:
        print("elem is not divisible by 3")

elem is not divisible by 3
elem is not divisible by 3
elem is divisible by 3
elem is not divisible by 3
elem is not divisible by 3
elem is divisible by 3
elem is not divisible by 3
elem is not divisible by 3
elem is divisible by 3
elem is not divisible by 3
elem is not divisible by 3
elem is divisible by 3
elem is not divisible by 3
elem is not divisible by 3
elem is divisible by 3
elem is not divisible by 3
elem is not divisible by 3
elem is divisible by 3
elem is not divisible by 3
elem is not divisible by 3
elem is divisible by 3
elem is not divisible by 3
elem is not divisible by 3
elem is divisible by 3
elem is not divisible by 3

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [21]:
#immutable
x = 5
x += 1  
print(x)

6

In [23]:
#immutable
s = "sejal"
s += " golande"  
print(s)

sejal golande

In [25]:
#mutable
my_list = [1, 2, 3,6,78]
my_list.append(4)  
print(my_list)

[1, 2, 3, 6, 78, 4]

In [26]:
#mutable
a = [0.2,34,"sejal",112,True]
a.append(9)
print(a)

[0.2, 34, 'sejal', 112, True, 9]